/*
    Moshe Dego 315044511
    Omri Elbaz 315006635
*/
/* css style that is relevant to homePage component */
.expense-container {
    padding-bottom: 49px;
    display: flex;
    gap: 19px;
    flex-direction: column;
    margin: 9px auto;
    align-items: center;
}

.expense-container h1 {
    font-weight: 600;
    font-size: 51px;
}

.expense-form {
    background-color: #f5fae3;
    box-shadow: 6px 9px;
    width: 299px;
    display: flex;
    flex-direction: column;
    gap: 9px;
    border: 1.5px solid gray;
    padding: 19px 49px 19px 81px;
    border-radius: 23px;
    margin: auto;
}

.form-group {
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 248px;
}

.form-group label {
    font-weight: 600;
    font-size: 20px;
}

.form-group input, .form-group select, .form-group textarea {
    font-size: 100%;
    border-radius: 18px;
    border: 2px solid rgb(210, 206, 217);
    padding: 0.7em;
    outline: none;
    background-color: white;
}

.form-group :is(input:focus) {
    border-color: rgb(150, 155, 190);
}

.submit-section {
    padding: 22px 0;
    display: flex;
}

.add-button {
    padding: 1.6em 6em;
    outline: none;
    font-size: 13px;
    transition: all 0.2s ease 0s;
    color: black;
    background-color:whitesmoke;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 5px 11px rgba(0, 0, 0, 0.1);
}

.add-button:hover {
    color: whitesmoke;
    transform: translateY(-7px);
    box-shadow: 0 15px 20px rgba(44, 227, 160, 0.4);
    background-color: #24ca87;
}

.add-button:active {
    transform: translateY(-1px);
}

.delete-button {
    cursor: pointer;
    background-color: rgba(227, 52, 40, 0.8);
    margin: 5px 3px;
    color: white;
    padding: 6px 16px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 25px;
}

.delete-button:hover {
    color: whitesmoke;
    background-color: red;
    transition: all 0.2s ease-in-out;
}

.expense-description {
    resize: none;
    height: 49px;
}
