/*
    Moshe Dego 315044511
    Omri Elbaz 315006635
*/
.navbar {
    display: flex;
    border-bottom: 1px solid #f2f2f2;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.logo {
    height: 70px;
}

.links {
    border-radius: 8px;
    margin: 20px 10px 20px 0;
    background-color: darksalmon;
    color: white;
}

.navbar .links {
    text-decoration: none;
    padding: 6px;
    margin-left: auto;
}

.navbar a:hover {
    transition: 0.3s;
    background-color: grey;
}