/*
    Moshe Dego 315044511
    Omri Elbaz 315006635
*/
.expense-report-container {
    display: flex;
    margin: 9px auto;
    align-items: center;
    gap: 21px;
    flex-direction: column;
    padding-bottom: 49px;
}

.report-headline {
    font-size: 51px;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.select-controls {
    gap: 0.6rem;
    align-items: baseline;
    display: flex;
    flex-direction: row;
}

.select-label {
    font-weight: 400;
    font-size: 20px;
}

.select-input {
    background-color: white;
    display: flex;
    font-size: 100%;
    outline: none;
    padding: 0.4em;
}

.show-expenses-button {
    font-size: 20px;
    font-weight: 400;
    border-radius: 23px;
    border: none;
    color: white;
    background-color: #23C483FF;
    cursor: pointer;
    display: flex;
    padding: 15px 15px;
}

.show-expenses-button:hover {
    opacity: 0.7;
    background-color: #23C483FF;
    transition: 0.2s;
}

.expense-table {
    width: 100%;
    border-collapse: collapse;
    margin: 21px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-wrap;
}

.expense-table th {
    color: white;
    background-color: rgba(10, 31, 63, 0.4);
}

.expense-table th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}

.expense-table tr:hover {
    background-color: #f5f5f5;
}

.expense-total {
    font-weight: 600;
    font-size: 26px;
}

.total-amount {
    font-weight: 700;
    color: #23C483FF;
}
